@import '../../utils/mixins';

.home {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/assets/home3.webp');
    background-size: cover;  // Ajuste la taille de l'image pour couvrir entièrement l'élément
    background-position: center; // Centre l'image
    background-repeat: no-repeat; // Empêche la répétition de l'image
  }
  