/*---------------
----- FONTS -----
---------------*/

@font-face {
    font-family: 'TitleFont';
    src: url('../../public/assets/TitleFont/built_titling_sb.otf') format('opentype');
    font-display: block;
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}

@font-face {
    font-family: 'MainFont';
    src: url('../../public/assets/TitleFont/built_titling_lt.otf') format('opentype');
    font-display: block;
    /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}



/*--------------------
----- ANIMATIONS -----
--------------------*/

@keyframes openList {
    0% {
        width: 0px
    }
    100% {  
        width: 400px
    }
}

@keyframes closeList {
    0% {
        width: 400px
    }
    100% {  
        width: 0px
    }
}